.titulo1{
    font-size: 50px;
    font-family: Arial;
    text-align: center;
    margin: 0;
    animation-name: title1;
    animation-duration: 5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes title1{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.buttonAf{
  background-image:url('/../assets/files/af.png');
  background-color: white;
  width: 220px;
  height: 65px;
  background-repeat:no-repeat;
  background-position:center;
  border-radius: 10px;
  margin-bottom: 20px;


}

.buttonAv{
  background-image:url('/../assets/files/av.png');
  background-color: white;
  width: 220px;
  height: 65px;
  background-repeat:no-repeat;
  background-position:center;
  border-radius: 10px;
  margin-bottom: 20px;


}

.buttonKlm{
  background-image:url('/../assets/files/klm.png');
  background-color: white;
  width: 220px;
  height: 65px;
  background-repeat:no-repeat;
  background-position:center;
  border-radius: 10px;
  margin-bottom: 20px;

}

.modal{
  padding: 30px;
}

.items{
  margin-top: 40px;
}
