<div class="container section" class="center-align">
  <div class="row items">
    <div class="col-auto">
      <div *ngIf="state == true">
        <a class="buttonAf waves-light btn" href="https://www.dropbox.com/s/tc0966h9fxw67z2/inkcuss01.rdp?dl=1" target="_self" download="AirFrance"></a>
      </div>
      <div *ngIf="state == false">
        <a class="buttonAf waves-light btn modal-trigger" href="#modal2"></a>
      </div>
    </div>
    <div class="col-auto" >
      <a class="buttonAv waves-light btn  modal-trigger" href="#modal1"></a>
    </div>
    <div class="col-auto" >
      <a class="buttonKlm waves-light btn modal-trigger" href="#modal1"></a>
    </div>

    <br>
    <h1 class="header center black-text titulo1">Select a virtual machine</h1>
    <!-- Modal Structure -->
    <div id="modal1" class="modal" align="center">
      <div class="modal-content">
        <h4>Virtual Machine not founded</h4>
      </div>
      <div class="modal-body">
        <a href="#" class="modal-close btn black">Close</a>
      </div>
    </div>

    <div id="modal2" class="modal" align="center">
      <div class="modal-content">
        <h4>Access restringed</h4>
      </div>
      <div class="modal-body">
        <a href="#" class="modal-close btn black">Close</a>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
